body{
	background-color: #eee;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}

/* Sheet */

.sheet{
	background-color: rgba(38,38,38,0.9);
	color:white;
	border-radius:0px 0px 3px 3px;
	box-shadow:;
	border:2px solid #eee;
	text-shadow: #222 2px 1px 2px;
	-webkit-box-shadow: 0px 3px 5px #555;
	-moz-box-shadow: 0px 3px 5px #555;
	box-shadow: 0px 3px 5px #555;
	font-size:13px;
}

.sheet a{
	color: #9fc6ef;
	text-decoration:none;
	text-shadow: #6fd4fb 0 0 1px;
}

.sheet a:hover{
	text-decoration:underline;
}

.sheet h2{
	font-size:1.3em;
	margin: 0px 0px 0px 0px;
}

.sheet p{
	margin: 0px 5px 10px 36px;
	padding:0px 5px;
}

 .sheet ul{
	padding:0px 5px;
	margin: 0px 5px 5px 5px;
}

.sheet li{
	list-style-type: none;
	padding:2px 0px 0px 0px;
}

.sheet .button{
	float:right;
	margin: 5px 5px 5px 5px;

}

#errorSheet h2{
	padding-left:36px;
	background: url(/static/img/warning.png) no-repeat ;
	padding-top: 6px;
	padding-bottom: 6px;


}

#aboutSheet h2{
	padding-left:36px;
	background: url(/static/img/logo.png) no-repeat ;
	padding-top: 6px;
	padding-bottom: 6px;


}


/*
	Header
*/

#header {
	font: bold 12px "Lucida Grande", Lucida, Verdana, sans-serif;
	text-shadow: #222 1px 1px 1px;
	
		background-image: -webkit-gradient(
	    linear,
	    left top,
	    left bottom,
	    color-stop(0, #565656),
	    color-stop(1, #3e4148)
	);
		background-image: -moz-linear-gradient(
	    center top,
	    #565656 0%,
	    #3e4148 100%
	);
	color: white;
	text-align: center;
	text-decoration: none;
	border:none;
	border-top: 1px solid #444;
}

#header h1 {
	display: block;
	font-weight:bold;
	float: left;
	cursor:pointer;
}

.headerButton img{
	margin:3px;
}

#rightHandHeader .headerButton {
	border-left: 1px solid #8c8c8c;
	border-right: 1px solid #3c3c3c;

}

.headerButton:active {
		background-image: -webkit-gradient(
	    linear,
	    left top,
	    left bottom,
	    color-stop(1, #565656),
	    color-stop(0, #3e4148)
	);
		background-image: -moz-linear-gradient(
	    center top,
	    #565656 100%,
	    #3e4148 0%
	);
}


/*
	Directory Entries
*/

.directoryEntries{
	  border-collapse: collapse;
	  	border-bottom: 1px solid #acacac;
}
.directoryEntries th {
	font-weight:normal;
	background-color: #e8e8e8;
		background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#c4c4c4));
	background: -moz-linear-gradient(top, #ededed, #c4c4c4);
	border: 1px solid #acacac;
	border-top:none;
	font-size:14px;
}

.directoryEntries th:first-of-type{
	border-left:none;
}


.directoryEntries th:last-of-type{
	border-right:none;
}

.directoryEntries th a{
	color: #4f4f4f;
	text-shadow: 0 1px 1px #fff;
	text-decoration:none;
}

.directoryEntries td{
	font-size:13px;
	padding:2px 5px;
}

.directoryEntries tr:nth-child(odd) {
	background-color: #d5e6fd;
}

.directoryEntries tr:nth-child(even) {
	background-color: #fff;
}

.directoryEntries tr:hover {
	background-color: #3875d7;
	color: #fff;
	cursor:pointer;
}

td.folder{
	background: url(/static/img/folder16.png) no-repeat 15px 2px;
	padding-left:45px;
}

td.document{
	background: url(/static/img/document16.png) no-repeat 15px 2px;
	padding-left:45px;
}

/*
	Path
*/

#pathComponents{
	
	border:none;
	background: #ddd;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#c4c4c4));
	background: -moz-linear-gradient(top, #ededed, #c4c4c4);
	border-bottom:1px solid #444;
	border-top:1px solid #444;

}

#pathComponents a {
	border:none;
	font-weight: bold;
	color: #4f4f4f;
	text-shadow: 0 1px 1px #fff;
	background: #ddd;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#c4c4c4));
	background: -moz-linear-gradient(top, #ededed, #c4c4c4);
	border-right: 1px solid #acacac;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.5);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5);
	cursor: pointer;
}


#pathComponents a:first-of-type{
	border-left: 1px solid #acacac;

}

#pathComponents a:active{
	background: #ccc;
	background: -webkit-gradient(linear, left top, left bottom, from(#c3c3c3), to(#ebebeb));
	background: -moz-linear-gradient(top, #c3c3c3, #ebebeb);
	border-color: #a6a6a6;
	border-top-color: #939393;
	box-shadow: inset 0 -1px 0 rgba(255,255,255,0.5);
	-webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,0.5);
	-moz-box-shadow: inset 0 -1px 0 rgba(255,255,255,0.5);
	-o-box-shadow: inset 0 -1px 0 rgba(255,255,255,0.5);
}

#pathComponents a:after{
	content:" »";
	padding-right:0px;
}

#pathComponents a:last-of-type:after{
	content:""
}
/*
	Sidebar
*/

.sidebar{
	background-color: #dde4ec;
	font-size:12px;
}

.sidebar h2{
	color: #5c5c6e;
	text-indent: 15px;
	text-transform: uppercase;
	font-size:1em;
	margin:10px 0px 2px 0px
}

.sidebar .snapshots a{
	color: #030303;
	padding: 2px 0px 3px 0px;
	text-indent: 25px;
	cursor: pointer;
	
}


.sidebar .snapshots a.selected {
	color: #fff;
	background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgb(108,164,216)),
    color-stop(1, rgb(50,106,179))
);
	background-image: -moz-linear-gradient(
    center top,
    rgb(108,164,216) 0%,
    rgb(50,106,179) 100%
);
	padding: 1px 0px 2px 0px;
	border-top: 1px solid #2869b3;
	border-bottom: 1px solid #2869b3;
	font-weight: bold;
	text-shadow: #444 0 1px 0;
}

/*
	Infobox
*/

.infoBox{
	font-size:14px;
	border-bottom: 1px solid #acacac;
	min-height:67px;
}


.infoBox.directory{
	display:block;
	background: url(/static/img/folder32.png) no-repeat scroll 8px 16px;
}

.infoBox.file{
	display:block;
	background: url(/static/img/document32.png) no-repeat scroll 8px 16px;
}

.infoBox.file.previewable{
	background: url(/static/img/previewable32.png) no-repeat scroll 8px 16px;
}

.infoBox .buttons{
	margin:2px 0px;
}

.infoBox .filenameSpan{
	font-weight:bold;
	padding-bottom:2px;
}

.infoBox .mtimeSpan{
	color: #5e5e5e;
}


.infoBox .downloadLink{
	position:absolute;
	top: 5px;
	right: 20px;
	height:32px;
	width:32px;
	border-radius:5px;
	border: 2px solid #aaa;
	cursor:pointer;
	background: #dedede url(/static/img/download.png) no-repeat 4px 4px;
}

.infoBox .downloadLink:hover{
	background-color: #c7cfef;
	border-color:#aaf;

}

/* Panels */

#leftPanel .sidebar {
	border-right: 1px solid #b3b3b3;
}

#rightPanel {
	border-left: 1px solid #666;
}

#rightPanel .sidebar {
	border-left: 1px solid #b3b3b3;
}


.panel.filePreview .detailsContainer{
	background-color:#222;	
}

.previewContent{
	padding:10px;
	color:white;
	background-color:#222;	
}

.panel .detailsContainer .loading,
.panel .detailsContainer .nosnapshot{
	font-size:16px;
	color:#5c5c6e;
	padding: 20px;
}

.fileDetails{
	padding:8px;
	font-size:13px;
}

.fileDetails td:nth-of-type(1){
	font-weight:bold;
	text-align: right;
	padding-right:8px;
}

.fileDetails td:nth-of-type(1):after{
	content: ":";
}

/* Diff */

#diffContainer{
	background-color:#222;
	color:white;
	border-top: 1px solid #acacac;
}

#diffContainer span.info{
	width:100%;
	text-align: center;
	display:block;
	font-size:2em;
	text-shadow: rgba(3,3,3,0.8) 2px 2px 2px;
	padding:20px;
}

/* Buttons */

a.button {
	display:inline-block;
	text-decoration:none;
	position: relative;
	font-size: 14px;
	font-weight: bold;
	color: #4f4f4f;
	text-shadow: 0 1px 1px #fff;
	background: #ddd;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#c4c4c4));
	background: -moz-linear-gradient(top, #ededed, #c4c4c4);
	border: 1px solid #acacac;
	border-top-color: #bdbdbd;
	border-bottom-color: #949494;
	border-radius: .214em;
	-webkit-border-radius: .214em;
	-moz-border-radius: .214em;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.5);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5);
	cursor: pointer;
}

a.button:active {
	background: #ccc;
	background: -webkit-gradient(linear, left top, left bottom, from(#c3c3c3), to(#ebebeb));
	background: -moz-linear-gradient(top, #c3c3c3, #ebebeb);
	border-color: #a6a6a6;
	border-top-color: #939393;
	border-bottom-color: #bcbcbc;
	box-shadow: inset 0 -1px 0 rgba(255,255,255,0.5);
	-webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,0.5);
	-moz-box-shadow: inset 0 -1px 0 rgba(255,255,255,0.5);
	-o-box-shadow: inset 0 -1px 0 rgba(255,255,255,0.5);
}
a.button.default {
	color: #1c4257;
	background: #a3cde3;
	background: -webkit-gradient(linear, left top, left bottom, from(#b9e0f5), to(#85b2cb));
	background: -moz-linear-gradient(top, #b9e0f5, #85b2cb);
	border: 1px solid #759bb1;
	border-top-color: #8ab0c6;
	border-bottom-color: #587e93;
}

a.button.default:active {
	background: #8abcd7;
	background: -webkit-gradient(linear, left top, left bottom, from(#81afc8), to(#b7def4));
	background: -moz-linear-gradient(top, #81afc8, #b7def4);
	border-color: #6e94a9;
	border-top-color: #567c91;
	border-bottom-color: #88aec4;
	box-shadow: inset 0 -1px 0 rgba(255,255,255,0.5);
	-webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,0.5);
	-moz-box-shadow: inset 0 -1px 0 rgba(255,255,255,0.5);
	-o-box-shadow: inset 0 -1px 0 rgba(255,255,255,0.5);
}
a.button[disabled],
a.button[disabled]:active {
	color: #a7a7a7;
	background: #efefef;
	background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#e1e1e1));
	background: -moz-linear-gradient(top, #f6f6f6, #e1e1e1);
	border-color: #d4d4d4;
	border-top-color: #dedede;
	border-bottom-color: #c9c9c9;
	cursor: default;
}