/* @override http://localhost:8080/static/visibility.css */

#diffContainer{
	display:none;
}


.detailsContainer .directoryDetails,
.detailsContainer .fileDetails,
.detailsContainer .filePreview,
.detailsContainer .loading,
.detailsContainer .nosnapshot
{
	display:none;
}

.dirContents .detailsContainer .directoryDetails{
	display:block !important;
}

.fileInfo .detailsContainer .fileDetails{
	display:block !important;
}

.filePreview .detailsContainer .filePreview{
	display:block !important;
}

.loading .detailsContainer .loading{
	display:block !important;
}

.nosnapshot .detailsContainer .nosnapshot{
	display:block !important;
}

/* Infobox*/

.loading .infoBox,
.nosnapshot .infoBox{
	display:none;
}

/*InfoBox Buttons*/

.infoBox .button.contents,
.infoBox .button.info,
.infoBox .button.preview,
.infoBox .button.diff
{
	display:none;
}


.panel:not(.dirContents):not(.loading) .infoBox.directory .button.contents{
	display:inline-block;
}

.panel:not(.fileInfo):not(.loading) .button.info{
	display:inline-block;
}

.panel:not(.filePreview):not(.loading) .infoBox.previewable .button.preview{
	display:inline-block;
}

/*FixME?*/
body:not(.diff) .panel:not(.loading) .infoBox.diffable .button.diff{
	display:inline-block;
}

.diff .panel:not(.loading) .infoBox.previewable .button.preview,
.diff .panel:not(.loading) .infoBox .button.info,
.diff .panel:not(.loading) .infoBox.directory .button.contents{
	display:inline-block; 
}


